@{
    ViewData["Title"] = Serenity.LocalText.Get("Negotiation");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F10_NegotiationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    $(".title-text").html("Negosiasi");
    });
</script>