@{
    ViewData["Title"] = Serenity.LocalText.Get("ProcParticipantItem");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F5_ProcParticipantItemGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    $(".title-text").html("Bidder Item");
    });
</script>