{
    "RootNamespace": "SCMONLINE",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "server=10.13.1.56;uid=sa;pwd=P@ssw0rd;database=SCM_ONLINE",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Procurement",
                    "Identifier": "F99Test",
                    "Module": "Procurement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Procurement:F99Test"
                },
                {
                    "Tablename": "dbo.ProcParticipant",
                    "Identifier": "F99Test",
                    "Module": "Procurement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Procurement:F99Test"
                },
                {
                    "Tablename": "dbo.ProcParticipantItem",
                    "Identifier": "F99Test",
                    "Module": "Procurement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Procurement:F99Test"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "server=10.13.1.56;uid=sa;pwd=P@ssw0rd;database=SCM_ONLINE_Northwind",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "TSCPath": "C:\\Users\\Back Up\\source\\Repositor\\SCMONLINE\\packages\\Microsoft.TypeScript.MSBuild.2.1.5\\tools\\tsc\\tsc.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SCMONLINE\\SCMONLINE.Web\\SCMONLINE.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomTemplates": "C:\\Users\\Back Up\\source\\Repositor\\SCMONLINE\\SCMONLINE\\SCMONLINE.Web\\Modules\\_Ext\\CodeGeneratorTemplates",
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}