@model SCMONLINE.Procurement.DocProcurementModel

<html>
<head>
    <title>Pengundangan Sebagai Peserta Pengadaan</title>
</head>
<body>
    <p>Diberitahukan Kepada Rekan/Partner dari Pertamina Drilling Service Indonesia,</p><br>
    <p>Selamat Anda Menjadi Peserta Pengadaan Dalam Pengadaan Kami,</p><br>
    <p>Berikut Syarat - Syartat yang Di Perlukan dalam Dokumen Pengadaan ada Dalam Lampiran di Bawah ini.</p>

    @*<center><p>@Model.CollectiveNumber</p></center>

        <center><p>@Model.Title</p></center>*@

    @*<p>Serta mengacu pada penawaran yang diajukan dan berdasarkan Hasil Evaluasi,</p>

        <p>bersama ini diberitahukan sebagai berikut : </p>

        <ul>
            <li><p>Pemenang Pengadaan Adalah : @Model.VendorWinner</p></li>
            <li>
                <p>
                    Masa sanggah selama 3 hari kerja terhitung mulai tanggal di terbitkannya Fax ini.<br>
                    Ketentuan dalam mengajukan sanggahan sesuai dengan dokumen Pengadaan.
                </p>
            </li>
        </ul>*@
    <br><br>
    <p>Apabila ada pertanyaan terkait email ini, dapat menghubungi Fungsi Supply Chain Management dengan PIC: </p>

    <p>@Model.DisplayName</p>
    @*<p>PIC1 (PIC1@pertamina.com) atau PIC2 (PIC2@pertamina.com).</p>*@
    <p>Demikian disampaikan Terima Kasih.</p><br>

    PT.Pertamina Drilling Services Indonesia
    Panitia Internal Pengadaan Barang
</body>
</html>