@{
    ViewData["Title"] = Serenity.LocalText.Get("ProcAs");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F12_ProcAsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    $(".title-text").html("Proc AS");
    });
</script>