@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Procurement.ProcurementMethod.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.ProcurementMethodGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>