@{
    ViewData["Title"] = Serenity.LocalText.Get("ProcResultDecision");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F13_ProcResultDecisionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
        $(".title-text").html("Keputusan Penetapan");
    });
</script>