@{
    ViewData["Title"] = Serenity.LocalText.Get("Input Owner Estimate");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F3_1_InputOwnerEstimateGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
        $(".title-text").html("Input Harga Owner Estimate");
    });
</script>