@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.QueuedEmail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Administration.QueuedEmailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>