@{
    ViewData["Title"] = Serenity.LocalText.Get("ProposeWinner");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F11_ProposeWinnerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
        $(".title-text").html("Pengusulan calon pemenang");
    });
</script>