@{
    ViewData["Title"] = Serenity.LocalText.Get("ProcurementDocCreation");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F2_ProcurementDocCreationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
        $(".title-text").html("Pembuatan Dokumen Pengadaan");
    });
</script>