@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.ProcParticipant.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Default.ProcParticipantGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>