@{
    ViewData["Title"] = Serenity.LocalText.Get("Objection Process");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F15_ObjectionProcessGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    $(".title-text").html("Proses Sanggahan");
    });
</script>