<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCMONLINE.MonitoringKontrakSynchronizer.Properties.Settings.MonitoringKontrakConnection"
            connectionString="Data Source=10.13.1.56;Initial Catalog=MONITORING_KONTRAK;Persist Security Info=True;User ID=mk_user;Password=ajnjiub^5aaatfFAST&amp;&amp;%$#A^&amp;A"
            providerName="System.Data.SqlClient" />
        <add name="SCMONLINE.MonitoringKontrakSynchronizer.Properties.Settings.ScmOnlineConnection"
            connectionString="Data Source=10.13.1.53;Initial Catalog=SCM_ONLINE;Persist Security Info=True;User ID=sa;Password=adjfo192377&amp;@@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
