@{
    ViewData["Title"] = Serenity.LocalText.Get("TenderEvaluation");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F7_TenderEvaluationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    $(".title-text").html("Evaluasi Penawaran");
    });
</script>