<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    <add key="SAPClient" value="100" />
    <add key="SAPOrgCode" value="2110" />
    <add key="SAPUserName" value="PDSI" />
    <add key="SAPPassword" value="pertamina1*" />
    <add key="SAPClient" value="350" />
    <add key="SAPOrgCode" value="1010" />
    <add key="SAPUserName" value="osds" />
    <add key="SAPPassword" value="pertamina" />

  </appSettings>-->
  <!--<connectionStrings>-->
    <!--<add name="Default" connectionString="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=SCMONLINE_Default_v1; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Northwind" connectionString="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=SCMONLINE_Northwind_v1; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" connectionString="server=10.13.1.53;uid=sa;pwd=adjfo192377&amp;@@;database=SCM_ONLINE" providerName="System.Data.SqlClient" />-->
    <!--<add name="Northwind" connectionString="server=10.13.1.53;uid=sa;pwd=adjfo192377&amp;@@;;database=SCM_ONLINE_Northwind" providerName="System.Data.SqlClient" />-->

  <!--</connectionStrings>-->

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCMONLINE.SAPSynchronizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="Exceptional" type="StackExchange.Exceptional.ConfigSettings, StackExchange.Exceptional" />
  </configSections>
  <Exceptional applicationName="SCMONLINE.SAPSynchronizer">
    <!--<IgnoreErrors>-->
      <!-- Error messages to ignore (optional) -->
      <!--<Regexes>
        <add name="connection suuuuuuuucks" pattern="Request timed out\.$" />
      </Regexes>-->
      <!-- Error types to ignore, e.g. <add type="System.Exception" /> or -->
      <!--<Types>
        <add type="MyNameSpace.MyException" />
      </Types>-->
    <!--</IgnoreErrors>-->
    <!-- Error log store to use -->
    <!--<ErrorStore type="Memory" />-->
    <!--<ErrorStore type="JSON" path="~\Errors333" size="200" rollupPeriod="null" />-->
    <!--<ErrorStore type="SQL" connectionStringName="SCMONLINE.SAPSynchronizer.Properties.Settings.DefaultConnection"/>-->
  </Exceptional>
  
  <connectionStrings>
    <add name="SCMONLINE.SAPSynchronizer.Properties.Settings.DefaultConnection"
      connectionString="Data Source=10.13.1.53;Initial Catalog=SCM_ONLINE;Persist Security Info=True;User ID=sa;Password=adjfo192377&amp;@@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://piwddmz1.pertamina.com:8163/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=OSDS_P&amp;Interface=urn%3Apertamina%3Aosds%3ABapiPackageMultiClient%5Emi_osReadTableMC"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
        contract="mi_osReadTableMC_PXD.mi_osReadTableMC" name="mi_osReadTableMCPort" />
      <!--<endpoint address="http://dev02xi.pertamina.com:8000/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=OSDS_D&amp;Interface=urn%3Apertamina%3Aosds%3ABapiPackageMultiClient%5Emi_osReadTableMC"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
        contract="mi_osReadTableMC_PXD.mi_osReadTableMC" name="mi_osReadTableMCPort" />-->
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SCMONLINE.SAPSynchronizer.Properties.Settings>
      <setting name="SAPOrgCode" serializeAs="String">
        <value>2110</value>
      </setting>
      <setting name="SAPClient" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SAPUserName" serializeAs="String">
        <value>PDSI</value>
      </setting>
      <setting name="SAPPassword" serializeAs="String">
        <value>pertamina1*</value>
      </setting>
    </SCMONLINE.SAPSynchronizer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
