@{
    ViewData["Title"] = Serenity.LocalText.Get("PurchOrderDocUpload");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F17_PurchOrderDocUploadGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
        $(".title-text").html("Upload Dokumen PO");
    });
</script>