@{
    ViewData["Title"] = Serenity.LocalText.Get("Aanwijzing");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SCMONLINE.Procurement.F4_AanwijzingGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    $(".title-text").html("Aanwijzing");
    });
</script>